{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Customer Directory</h1>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search customers..." id="customerSearch">
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
